.notes {
    padding: 1rem;
    background: #fff8b3;
    border-radius: 8px;
    width: 250px;
}

#notes-area {
    width: 100%;
    height: 150px;
    border: none;
    font-family: serif;
    background: transparent;
    resize: none;
    font-size: 1rem;
    outline: none;
}